In [9]:
pip install pandas

Requirement already satisfied: pandas in c:\users\justa\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\justa\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\justa\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\justa\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\justa\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\justa\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [33]:
file_path = r'C:\Users\Justa\Desktop\GoIT\Python\stack-overflow-developer-survey-2023\survey_results_public.csv'
df = pd.read_csv(file_path)

In [32]:
import pandas as pd

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89184 entries, 0 to 89183
Data columns (total 84 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ResponseId                           89184 non-null  int64
 1   Q120                                 89184 non-null  object
 2   MainBranch                           89184 non-null  object
 3   Age                                  89184 non-null  object
 4   Employment                           87898 non-null  object
 5   RemoteWork                           73810 non-null  object
 6   CodingActivities                     73764 non-null  object
 7   EdLevel                              87973 non-null  object
 8   LearnCode                            87663 non-null  object
 9   LearnCodeOnline                      70084 non-null  object
 10  LearnCodeCoursesCert                 37076 non-null  object
 11  YearsCode                            87435 non-null  object
 12  YearsCodePro                         66136 non-null  object
 13  DevType                              76872 non-null  object
 14  OrgSize                              65043 non-null  object
 15  PurchaseInfluence                    64964 non-null  object
 16  TechList                             60851 non-null  object
 17  BuyNewTool                           83009 non-null  object
 18  Country                              87973 non-null  object
 19  Currency                             65334 non-null  object
 20  CompTotal                            48225 non-null  float64
 21  LanguageHaveWorkedWith               87140 non-null  object
 22  LanguageWantToWorkWith               80709 non-null  object
 23  DatabaseHaveWorkedWith               73435 non-null  object
 24  DatabaseWantToWorkWith               60911 non-null  object
 25  PlatformHaveWorkedWith               63628 non-null  object
 26  PlatformWantToWorkWith               51308 non-null  object
 27  WebframeHaveWorkedWith               66938 non-null  object
 28  WebframeWantToWorkWith               56741 non-null  object
 29  MiscTechHaveWorkedWith               57019 non-null  object
 30  MiscTechWantToWorkWith               46848 non-null  object
 31  ToolsTechHaveWorkedWith              77884 non-null  object
 32  ToolsTechWantToWorkWith              68315 non-null  object
 33  NEWCollabToolsHaveWorkedWith         85864 non-null  object
 34  NEWCollabToolsWantToWorkWith         76649 non-null  object
 35  OpSysPersonal use                    86557 non-null  object
 36  OpSysProfessional use                78587 non-null  object
 37  OfficeStackAsyncHaveWorkedWith       69090 non-null  object
 38  OfficeStackAsyncWantToWorkWith       53743 non-null  object
 39  OfficeStackSyncHaveWorkedWith        83439 non-null  object
 40  OfficeStackSyncWantToWorkWith        69776 non-null  object
 41  AISearchHaveWorkedWith               56328 non-null  object
 42  AISearchWantToWorkWith               46150 non-null  object
 43  AIDevHaveWorkedWith                  25904 non-null  object
 44  AIDevWantToWorkWith                  19587 non-null  object
 45  NEWSOSites                           87973 non-null  object
 46  SOVisitFreq                          87140 non-null  object
 47  SOAccount                            87852 non-null  object
 48  SOPartFreq                           66061 non-null  object
 49  SOComm                               87692 non-null  object
 50  SOAI                                 47858 non-null  object
 51  AISelect                             87973 non-null  object
 52  AISent                               61501 non-null  object
 53  AIAcc                                38594 non-null  object
 54  AIBen                                61396 non-null  object
 55  AIToolInterested in Using            32783 non-null  object
 56  AIToolCurrently Using                36137 non-null  object
 57  AIToolNot interested in Using        21069 non-null  object
 58  AINextVery different                 12661 non-null  object
 59  AINextNeither different nor similar  6599 non-null   object
 60  AINextSomewhat similar               6238 non-null   object
 61  AINextVery similar                   2621 non-null   object
 62  AINextSomewhat different             23303 non-null  object
 63  TBranch                              65768 non-null  object
 64  ICorPM                               43668 non-null  object
 65  WorkExp                              43579 non-null  float64
 66  Knowledge_1                          42535 non-null  object
 67  Knowledge_2                          41670 non-null  object
 68  Knowledge_3                          41798 non-null  object
 69  Knowledge_4                          41684 non-null  object
 70  Knowledge_5                          41527 non-null  object
 71  Knowledge_6                          41520 non-null  object
 72  Knowledge_7                          41467 non-null  object
 73  Knowledge_8                          41404 non-null  object
 74  Frequency_1                          41916 non-null  object
 75  Frequency_2                          41925 non-null  object
 76  Frequency_3                          41054 non-null  object
 77  TimeSearching                        42778 non-null  object
 78  TimeAnswering                        42629 non-null  object
 79  ProfessionalTech                     41783 non-null  object
 80  Industry                             36774 non-null  object
 81  SurveyLength                         86485 non-null  object
 82  SurveyEase                           86554 non-null  object
 83  ConvertedCompYearly                  48019 non-null  float64
dtypes: float64(3), int64(1), object(80)
memory usage: 57.2+ MB

In [15]:
df.describe()

         ResponseId     CompTotal       WorkExp  ConvertedCompYearly
count  89184.000000  4.822500e+04  43579.000000         4.801900e+04
mean   44592.500000  1.036807e+42     11.405126         1.031101e+05
std    25745.347541  2.276847e+44      9.051989         6.814188e+05
min        1.000000  0.000000e+00      0.000000         1.000000e+00
25%    22296.750000  6.300000e+04      5.000000         4.390700e+04
50%    44592.500000  1.150000e+05      9.000000         7.496300e+04
75%    66888.250000  2.300000e+05     16.000000         1.216410e+05
max    89184.000000  5.000000e+46     50.000000         7.435143e+07

In [39]:
df[:5]

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0

In [47]:
df['ResponseId'].count()
print(f"Number of Respondents: {df['ResponseId'].count()}")

Number of Respondents: 89184

In [36]:
all_questions=df.dropna()

In [48]:
all_questions['ResponseId'].count()
print(f"Number of respondents who answered all questions: {all_questions['ResponseId'].count()}")

Number of respondents who answered all questions: 0

In [49]:
df['WorkExp'].mean().round(2)
print(f"Mean respondents work experience: {df['WorkExp'].mean().round(2)}")

Mean respondents work experience: 11.41

In [46]:
df['WorkExp'].median()
print(f"Median respondents work experience: {df['WorkExp'].median()}")

Median respondents work experience: 9.0

In [45]:
remote_students = df[df['RemoteWork'] == 'Remote']
remote_students['ResponseId'].count()
print(f"Respondents working remotely: {remote_students['ResponseId'].count()}")

Respondents working remotely: 30566

In [52]:
python_students = df[df['LanguageHaveWorkedWith'].str.contains('Python',na=False)]
python_students_count=python_students['ResponseId'].count()
python_students_percent = (python_students_count / df['ResponseId'].count()) * 100
print(f"Share of respondents coding in Python: {python_students_percent:.2f}%")

Share of respondents coding in Python: 48.39%

In [53]:
onlilne_students=df.dropna(subset=['LearnCodeOnline'])
onlilne_students['ResponseId'].count()
print(f"Number of respondents who learned coding online: {onlilne_students['ResponseId'].count()}")

Number of respondents who learned coding online: 70084

In [59]:
python_students = df[df['LanguageHaveWorkedWith'].str.contains('Python',na=False)]
grouped_survey=python_students.groupby(by=['Country'])
mean_and_median=grouped_survey['ConvertedCompYearly'].agg(['mean', 'median']).round(2)
mean_and_median.rename(columns={'mean': 'Mean Salary', 'median': 'Median Salary'},inplace=True)
print(mean_and_median)

                                      Mean Salary  Median Salary
Country
Afghanistan                                665.00           48.0
Albania                                  28008.60        11844.0
Algeria                                   8336.33         6586.0
Andorra                                  32127.00        32127.0
Angola                                     662.00          662.0
...                                           ...            ...
Venezuela, Bolivarian Republic of...     24973.53        12000.0
Viet Nam                                 20191.87        13401.0
Yemen                                     8373.00         9000.0
Zambia                                   13051.00         9687.0
Zimbabwe                                  5600.00         6000.0

[173 rows x 2 columns]

In [65]:
top_salary=df.sort_values(by=['ConvertedCompYearly'], ascending=False)
top_5_salary = top_salary[['ConvertedCompYearly', 'EdLevel']].head(n=5).reset_index(drop=True)
print(top_5_salary)

   ConvertedCompYearly                                         EdLevel
0           74351432.0  Professional degree (JD, MD, Ph.D, Ed.D, etc.)
1           73607918.0  Professional degree (JD, MD, Ph.D, Ed.D, etc.)
2           72714292.0    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
3           57513831.0                       Primary/elementary school
4           36573181.0  Professional degree (JD, MD, Ph.D, Ed.D, etc.)

In [73]:
age_group=python_students.groupby(by=['Age'])
age_group_count=age_group['ResponseId'].count()
age_group_percent = (age_group_count / df['ResponseId'].count()) * 100
age_group_percent = age_group_percent.round(2)
age_group_percent_df = age_group_percent.reset_index()
age_group_percent_df.columns = ['Age', 'Coding in Python']
age_group_percent_df['Coding in Python'] = age_group_percent_df['Coding in Python'].astype(str) + '%'
print(age_group_percent_df)

                  Age Coding in Python
0     18-24 years old           12.34%
1     25-34 years old           17.74%
2     35-44 years old            9.54%
3     45-54 years old            3.59%
4     55-64 years old            1.39%
5   65 years or older            0.41%
6   Prefer not to say            0.21%
7  Under 18 years old            3.18%

In [28]:
quantile_value = df['ConvertedCompYearly'].quantile(0.75)
remote = df[(df['ConvertedCompYearly'] >= quantile_value) & (df['RemoteWork'] == 'Remote')]
branch = remote.groupby(by=['MainBranch'])
main_branch = branch.size().sort_values(ascending=False)
print(main_branch)

MainBranch
I am a developer by profession                                                           6554
I am not primarily a developer, but I write code sometimes as part of my work/studies     368
dtype: int64